# Introduction to Python- Part 1
        by Pradip Gupta (pradip.mech13@gmail.com)

# Basic Data types in python

1. float
2. int
3. string 
4. boolean

## 1. Float

In [1]:
z = 10.3

In [2]:
print("float no is:", z)

float no is: 10.3

In [3]:
type(z)

float

In [4]:
id(z)

1889363384976

## 2. Int

In [5]:
days_of_week = 7

In [6]:
print(days_of_week)

7

In [7]:
type(days_of_week)

int

In [8]:
print(Days_of_week) #everything is case-sensitive

NameError: name 'Days_of_week' is not defined

In [ ]:
# Any text followed by '#' is not conisdered python code. These are called comments
# shortcut for commenting/un-commenting in Jupyter is : select the line(s) which you want to comment and then use Ctrl+/
# short cut for executing your code is shift+enter

## 3. String
 - Different operations that can be done on strings like split, join, index, count, find, upper,lower,len,min,max.

In [9]:
b = '2' # or b = "2" (single or double quotes do not make a difference in python)
b

'2'

In [10]:
type(b)

str

In [11]:
id(b)

1889281661552

Some operations are not allowed on different types:

In [12]:
a = 3

In [13]:
type(a), type(b)

(int, str)

In [14]:
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

But some of them are allowed:

In [15]:
a*b

'222'

In [16]:
b = "hello"

In [17]:
a*b

'hellohellohello'

String variables can be combined:

In [22]:
c = 'edvancer'
c

'edvancer'

In [23]:
b

'hello'

In [24]:
x= 2; y = 3
z = x+y
z

5

In [25]:
b+c #same operator behaves differently with integers and strings

'helloedvancer'

In order to include variable of another type in to string you have to convert it:

In [26]:
str(a)+c

'3edvancer'

In [27]:
len(c)

8

In [196]:
c = "123 456@78 "
len(c)

11

## 4. Boolean

In [28]:
x=True
y=False

In [29]:
type(x)

bool

In [30]:
type(y)

bool

In [31]:
x and y

False

In [32]:
not x

False

# Variable Naming

In [ ]:
my_var_is_this=5

You can pretty much chose any name as a variable name, however there are few rules that you'd need to follow


1. Variable names can not have spaces in between.
2. They can not contain any special character except underscore [i.e. _ ]
3. Variable names can not start with a number , however you can have numbers anywhere else in the variable name


In addition to these rules there are few good practices when you are naming your variables. Google python style guide  recommends following way of naming variables based on what type of variables they are.


module_name, package_name, ClassName, method_name, ExceptionName, function_name, 
GLOBAL_CONSTANT_NAME, global_var_name, instance_var_name, 
function_parameter_name, local_var_name


*Note: Its not mandatory to use underscore with long variable names , just that it makes your variable name easily readable.*

Lets see an example below , you decide yourself which variable name is more readable.

**Reserved Words:**

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Everything is an object

In IPython you can get the list of object's methods and attributes by typing dot and pressing TAB:

In [33]:
c= "hydeRabad"

Methods are basically default functions that can be applied to our variable:

In [34]:
c.upper()

'HYDERABAD'

In [35]:
c.title()

'Hyderabad'

In [36]:
c.count("a")

2

In [37]:
idx=-1

In [38]:
idx = c.find('d',idx+1,)
idx

2

If you need help on method in IPython type something like:

In [39]:
c.find?

Or open bracket and press SHIFT+TAB:

In [40]:
c.find()

TypeError: find() takes at least 1 argument (0 given)

Int variable is also an object:

In [41]:
a = 2.2

Methods can be combined (kind of a pipeline)

In [42]:
c.title().find('H').bit_length()

0

# Some basic numeric Operations 

for simple algebaric operations , usual symbols work. Below are some examples.

In [43]:
x=1.22
y=20
x+y

21.22

In [44]:
x-y

-18.78

In [45]:
x*y

24.4

In [46]:
x/y

0.061

In [47]:
x//y

0.0

you need to use double asterisks for exponents as shown below

In [48]:
x=2
y=3
x**y

8

you can do multiple operations separated by comma

In [49]:
a = 2
b = 3
c = 4

In [50]:
a, b, c = 2, 3, 4

In [51]:
a, b, c, d = x+2,y+3,x+y,x**(x+y)
a, b, c, d

(4, 6, 5, 32)

# Subsetting a string with indices

For extracting a part of the string, we don’t need a special function. We can simple indexing using square brackets “[]”. While using this indexing , we need to keep few things in mind

* counting starts with 0. first character gets counted as zero
* [a:b] , means starting at ath position and extracting until (b-1)th position 
* [a:] , means starting at ath position till end
* [:a], means starting at the beginning until (a-1)th position

negative sign with indices mean counting from right instead of natural left.

* [:-a], means starting at the beginning and going up til ath position from end. counting from end also starts with 0.
* [-a:], means starting at (a-1)th character from the end and going up till last character.
* [a:-b], means starting at ath character at the beginning and going till bth position from end
* [-a:-b], means starting at (a+1)th character from the end and going up till bth position from end

Lets see these in action

In [52]:
z = "GOA to Leh"
print(z)

GOA to Leh

In [53]:
len(z)

10

In [54]:
z[2:5]

'A t'

In [55]:
z[3:]

' to Leh'

In [56]:
z[:3]

'GOA'

In [57]:
z[:-3] #Inverse-indexing

'GOA to '

* [:-a], means starting at the beginning and going up til ath position from end. counting from end also starts with 0.
* [-a:], means starting at (a-1)th character from the end and going up till last character.

In [58]:
z[-6:-2]

'to L'

Other useful functions that we will explore for string operations : count , find & split.


functions that i want you to explore on your own further are family of function for checking whether a particular piece of string belongs to a certain type or not. Here are those functions :

```
Ex: Find out what following functions do : isalnum,isalpha,isdigit,islower,isupper. Discuss this on Q&A forum , if you face any issue in figuring out what these functions do.
```

In [59]:
print(z)
len(z)

GOA to Leh

10

In [60]:
z.lower().count("o")

2

In [61]:
z.find("a")

-1

In [62]:
path = "path/to/dir"

In [63]:
s = "goazlehzladak"
a, b, c = s.split("z")

In [64]:
a, b, c

('goa', 'leh', 'ladak')

In [65]:
path.split("/")

['path', 'to', 'dir']

# Advanced Data types (Data Structures) in Python

5. list
6. tuple
7. dictionary
8. set

## 5. Lists
 - List is mutable (can be changed)
 - List uses square bracket
 - For modifying a list, we can use functions like: append, extend, insert, pop, remove and clear. 
 - Other possible functions are: sorted, sort, min, max, len.

In order to create list put coma separated values in square brackets:

In [66]:
l = [1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [67]:
type(l)

list

Values in list can be any type:

In [68]:
l = ['one', 'two', 'three', 'four', 'five']
l

['one', 'two', 'three', 'four', 'five']

Combined

In [69]:
l = ['one', 2, 'three', 4.0, 3+2]
l

['one', 2, 'three', 4.0, 5]

Any type means ANY type:

In [70]:
l = ['one', 2, 'three', [1,2,3,4,5], 3+2]
l

['one', 2, 'three', [1, 2, 3, 4, 5], 5]

You can access list values by index:

In [71]:
l[0]

'one'

Oh, yes, indexing starts with zero, so for Matlab/R users please note.

In [72]:
l[1]

2

Let's have a look at the 4th element of our list:

In [73]:
l[3]

[1, 2, 3, 4, 5]

It's also a list, and its values can be accessed by indexes as well:

In [74]:
l[0][2]

'e'

You also can acces multiple elements of the list using slices:

In [75]:
l[1:3]

[2, 'three']

**_Slice will start with the first slice index and go up to but not including the second slice index_**

In [76]:
l[3]

[1, 2, 3, 4, 5]

In [77]:
x = [1,2,3,70,-10,0,99,"a","b","c"]

In [78]:
type(x)

list

In [79]:
x.append("new")

In [80]:
x

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c', 'new']

In [81]:
x.append([1,2,3])
x

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c', 'new', [1, 2, 3]]

In [82]:
x.extend([1,2,3])

In [83]:
x

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c', 'new', [1, 2, 3], 1, 2, 3]

In [84]:
x.extend("new")
x

[1,
 2,
 3,
 70,
 -10,
 0,
 99,
 'a',
 'b',
 'c',
 'new',
 [1, 2, 3],
 1,
 2,
 3,
 'n',
 'e',
 'w']

In [85]:
x

[1,
 2,
 3,
 70,
 -10,
 0,
 99,
 'a',
 'b',
 'c',
 'new',
 [1, 2, 3],
 1,
 2,
 3,
 'n',
 'e',
 'w']

In [86]:
x.insert(2,"another")

In [87]:
x

[1,
 2,
 'another',
 3,
 70,
 -10,
 0,
 99,
 'a',
 'b',
 'c',
 'new',
 [1, 2, 3],
 1,
 2,
 3,
 'n',
 'e',
 'w']

In [88]:
x=x+[345]
x

[1,
 2,
 'another',
 3,
 70,
 -10,
 0,
 99,
 'a',
 'b',
 'c',
 'new',
 [1, 2, 3],
 1,
 2,
 3,
 'n',
 'e',
 'w',
 345]

In [89]:
x = [1,2,3,70,-10,0,99,"a","b","c"]
len(x)

10

In [90]:
c=x.pop()
c

'c'

In [91]:
x

[1, 2, 3, 70, -10, 0, 99, 'a', 'b']

In [92]:
x.pop(3)

70

In [93]:
x

[1, 2, 3, -10, 0, 99, 'a', 'b']

In [94]:
x.remove("a")
x

[1, 2, 3, -10, 0, 99, 'b']

In [95]:
x = [1,5,3,66,77,22]

In [96]:
x.sort()
x

[1, 3, 5, 22, 66, 77]

In [97]:
x.reverse()
x

[77, 66, 22, 5, 3, 1]

In [98]:
x = [1,2,3]
id(x)

1889363177736

In [99]:
x.append(4)
x

[1, 2, 3, 4]

In [100]:
id(x)

1889363177736

## 6. Tuples
 - Tuple is like a list but it is immutable (cannot be changed)
 - Tuple uses parentheses

In [101]:
t = 12345, 54321, 'hello!'
t

(12345, 54321, 'hello!')

In [102]:
type(t)

tuple

In [103]:
t =( 12345, 54321, 'hello!') # same thing
t

(12345, 54321, 'hello!')

In [104]:
u = t, (1, 2, 3, 4, 5), [1,2,3]
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5), [1, 2, 3])

In [105]:
l = [1,2,3]
l

[1, 2, 3]

In [106]:
t[0] = 23# you can not reassign

TypeError: 'tuple' object does not support item assignment

In [107]:
len(t)

3

In [108]:
t[-1]

'hello!'

## 7. Dictionaries
 - Dict is represented by {}
 - The dict class allows creating an associative array of keys and values. Keys must be unique immutable objects
 - Dict is not an ordered set
 - We can append or modify a dictonary

In [109]:
d= {"actor":"nasir",
    "animal":"dog",
    "earth":1,
    "list":[1,2,3]}
d

{'actor': 'nasir', 'animal': 'dog', 'earth': 1, 'list': [1, 2, 3]}

In [110]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list'])

In [111]:
d.values()

dict_values(['nasir', 'dog', 1, [1, 2, 3]])

In [112]:
d["actress"] = "priy"

In [113]:
d

{'actor': 'nasir',
 'animal': 'dog',
 'earth': 1,
 'list': [1, 2, 3],
 'actress': 'priy'}

In [114]:
#Change value of existing key
d["animal"] = ["cat","dog"]
d

{'actor': 'nasir',
 'animal': ['cat', 'dog'],
 'earth': 1,
 'list': [1, 2, 3],
 'actress': 'priy'}

In [115]:
#Add key t dict
d["pet"] = {"mine":"dog"}
d

{'actor': 'nasir',
 'animal': ['cat', 'dog'],
 'earth': 1,
 'list': [1, 2, 3],
 'actress': 'priy',
 'pet': {'mine': 'dog'}}

In [116]:
d

{'actor': 'nasir',
 'animal': ['cat', 'dog'],
 'earth': 1,
 'list': [1, 2, 3],
 'actress': 'priy',
 'pet': {'mine': 'dog'}}

In [117]:
d["list"].insert(2,4)

In [118]:
d

{'actor': 'nasir',
 'animal': ['cat', 'dog'],
 'earth': 1,
 'list': [1, 2, 4, 3],
 'actress': 'priy',
 'pet': {'mine': 'dog'}}

In [119]:
# removing a key value pair
del d['actor']
print(d)

{'animal': ['cat', 'dog'], 'earth': 1, 'list': [1, 2, 4, 3], 'actress': 'priy', 'pet': {'mine': 'dog'}}

In [120]:
# element access in loop
for elem in d:
    print('value for key:%s ' %(elem) ,'is :%s' %(d[elem]))

value for key:animal  is :['cat', 'dog']
value for key:earth  is :1
value for key:list  is :[1, 2, 4, 3]
value for key:actress  is :priy
value for key:pet  is :{'mine': 'dog'}

In [121]:
for ele in d.items():
    print(ele)
    print("Key {} Value {}".format(ele[0],ele[1]))

('animal', ['cat', 'dog'])
Key animal Value ['cat', 'dog']
('earth', 1)
Key earth Value 1
('list', [1, 2, 4, 3])
Key list Value [1, 2, 4, 3]
('actress', 'priy')
Key actress Value priy
('pet', {'mine': 'dog'})
Key pet Value {'mine': 'dog'}

In [122]:
print("my name is pradip")

my name is pradip

In [123]:
name = "pradip"
title = "gupta"

In [124]:
print("my name is",name)

my name is pradip

In [126]:
print("my first name is {} and surname is {}".format(name, title))

my first name is pradip and surname is gupta

In [127]:
print(f"my first name is {name} and surname is {title}")

my first name is pradip and surname is gupta

In [128]:
len(d.items())

5

In [129]:
d.items()

dict_items([('animal', ['cat', 'dog']), ('earth', 1), ('list', [1, 2, 4, 3]), ('actress', 'priy'), ('pet', {'mine': 'dog'})])

In [130]:
for a,b in d.items():
    print('value for key:%s is %s' %(a,b))

value for key:animal is ['cat', 'dog']
value for key:earth is 1
value for key:list is [1, 2, 4, 3]
value for key:actress is priy
value for key:pet is {'mine': 'dog'}

## 8. Sets
 - Set class provides mapping of unique immutable elements

In [131]:
animals = {'cat', "dog",'cat'}

In [132]:
animals

{'cat', 'dog'}

In [133]:
animals.add("horse")

In [134]:
animals

{'cat', 'dog', 'horse'}

In [136]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}

In [137]:
c=a.union(b)
c

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [138]:
a.intersection(b)

{4, 5, 6}

Difference between function symmetric_difference and difference is as follows:

* a.difference(b) :	new set with elements in a but not in b
* a.symmetric_difference(b) :  new set with elements in either a or b but not both

lets see with our own examples :

In [140]:
a.difference(b)

{1, 2, 3}

In [141]:
b.difference(a)

{7, 8, 9}

In [142]:
a.symmetric_difference(b)

{1, 2, 3, 7, 8, 9}

# Writing Conditions

* checking equality : "=="
* in-equality : "!="
* greater than : ">"
* less than : "<"
* greater than or equal to : ">="
* less than or equal to : "<="

In [143]:
x=34
y=32

x==y

False

In [144]:
type(x) == int

True

In [145]:
x >= y

True

In [146]:
x="possible"
y="impossible"

In [147]:
x in y

True

In [148]:
y in x

False

In [149]:
l = [1,2,3]
1 in l

True

In [150]:
x not in y

False

In [151]:
# Let's see the conditionals available
v1 = "Jennifer"
v2 = "Python"
v3 = 45
v4 = 67
v5 = 45

# Test for equality
print (v1 == v2)

# Test for greater than and greater than equal
print (v4 > v3)

# Test for lesser than and lesser than equal
print (v4 < v3)

# Inequality
print (v1 != v2)

False
True
False
True

In [152]:
# Note:
v1 = 45
v2 = "45"
print (v1 == v2) # False
print (v1 == int(v2)) # True

False
True

In [153]:
# Ignore case when comparing two strings
s1 = "Jennifer"
s2 = "jennifer"

print (s1 == s2) # False
print (s1.lower() == s2.lower()) # True
# OR
print (s1.upper() == s2.upper()) # True

False
True
True

# Why did changing ‘y’ also change ‘x’?

In [170]:
x = [1,2,3]
x

[1, 2, 3]

In [171]:
id(x)

1889364793992

In [172]:
y = x
y

[1, 2, 3]

In [173]:
id(y) == id(x)

True

In [174]:
y.append(10)
y

[1, 2, 3, 10]

In [175]:
x

[1, 2, 3, 10]

In [176]:
id(x)

1889364793992

In [177]:
id(y) == id(x)

True

1.	Variables are simply names that refer to objects. Doing y = x doesn’t create a copy of the list – it creates a new variable y that refers to the same object x refers to. This means that there is only one object (the list), and both x and y refer to it.
2.	Lists are mutable, which means that you can change their content.

In [178]:
x = 5  # ints are immutable

In [179]:
y = x

In [180]:
id(y), id(x)

(140728872313376, 140728872313376)

In [181]:
id(y) == id(x)

True

In [182]:
y = y + 1  # 5 can't be mutated, we are creating a new object here

In [183]:
id(y), id(x)

(140728872313408, 140728872313376)

In [187]:
id(y) == id(x)

False

In [184]:
y

6

In [185]:
x

5